*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 
}
body {
    font-family: "jost", serif;
    min-height: 100vh;
    background-color: #050505;
}
@font-face {
    font-family:gara;
    src: url(./assets/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: Google-sans;
    src: url(./assets/fonts/Google_Sans/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 95%;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-call-to-action{
    display:flex;
    align-items:center;
    text-decoration: none;
    color:white;
    gap: 10px;
    width: 22vw;
    padding: 2.5px 2.5px;
    background: rgba(41, 40, 40, 0.886);
    text-decoration: none;
    color: white;
    border-radius: 250px;
    font-size: 1.8vh;
    font-weight: 200;
}

.cta-logo{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: 1px solid rgba(253, 253, 253, 0);
    border-radius: 50%;
    flex-shrink:0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.cta-logo i {
    font-size: 3vh;
    color: white;
    transition: transform 0.3s ease
}
.navbar-call-to-action:hover .cta-logo{
    transform: rotate(45deg);
    background-color:white;
}

.navbar-call-to-action:hover .cta-logo i{
    color: black;
}

.navbar-container .navbar-menu{
    display:flex;
    text-align: center;
    gap: 5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a{
    position: relative;
    display:inline-block;
    text-decoration: none;
    color: white;
    font-weight: 100;
    padding: 5px 0;
    transition: all 0.3s ease;
    white-space: nowrap;
}
.navbar-container .navbar-menu li a::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-5px;
    height:0.7px;
    width:0;
    background:linear-gradient(
        90deg,
        #8bd7ff,
        white,
        #8bd7ff
    );
    transform:translateX(-50%);
    transition:width 0.3s ease;
        box-shadow:
        0 0 8px rgba(150,220,255,.7),
        0 0 18px rgba(150,220,255,.4);
}
.navbar-container .navbar-menu li a:hover::after,
.navbar-container .navbar-menu li a.active::after{
    width:100%;
}
.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
    color:#e5f7fe;
}

.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;

}
@media(max-width: 880px) {
    .navbar {
        backdrop-filter:none;
    }
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem 0 1rem;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    
    .navbar-container .navbar-menu.active{
        display: flex;
    }
    .navbar-toggle{
        display: block;
        z-index: 99;
    }
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media (max-width: 480px) {
    .navbar-container {
        padding: 0 1rem;
    }
    .navbar-container .navbar-menu li a {
        font-size: 1rem;
        letter-spacing: 0.02rem;
        padding: 3px 15px;
    }
    .navbar-call-to-action{
        display: none;
    }
}
.main-sec{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    overflow: visible;
    background: #050505;
    z-index: 1;
}
.video-container{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height:100vh;
    z-index: -1;
    overflow: hidden;
}
.video-container canvas{
    width: 100%;
    height: 100%;
    display: block;
}
.video-canvas{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}
.video-canvas canvas{
    width: 100%;
    height: 100%;
    display: block;
}
.video-spacer{
    height:300vh;
    position: relative;
}
.main-sec-vid{
    position: absolute;
    inset: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    z-index:-1;
    pointer-events: none;
}
.main-sec-left{
    width: 50%;
    height:100vh;
    position: relative;
    z-index: 2;
}
.main-sec-right{
    width: 50%;
    height:100vh;
    position: relative;
    z-index: 2;
}
.born {
    font-size: 28vh;
    max-width: 95%;
    color: white;
    font-family: gara;
    font-weight: 100;
    letter-spacing:-0.11em;
    white-space: nowrap;
}
.born span{
    display: inline-block;
    font-family: gara;
    transform: translateY(100%);
    animation: bornSlide 0.8s ease-out forwards;
}
.born span:nth-child(1){
    animation-delay: 0.4s;
}
.born span:nth-child(2){
    animation-delay: 0.6s;
}
.born span:nth-child(3){
    animation-delay: 0.8s;
}
.born span:nth-child(4){
    animation-delay: 1s;
}
.born span:nth-child(6){
    animation-delay: 1.2s;
}
.born span:nth-child(7){
    animation-delay: 1.4s;
}
.wrapper{
    position: absolute;
    top:5vh;
    left: 3vw;
    overflow: hidden;
    height: 26.6vh;
    width: 53vw;
}
@keyframes bornSlide{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}
.nature{
    font-size: 28vh;
    max-width: 95%;
    color: white;
    font-family: gara;
    font-weight: 100;
    letter-spacing:-0.11em;
    white-space: nowrap;
}
.nature span{
    display: inline-block;
    font-family: gara;
    transform: translateY(100%);
    animation: bornSlide 0.8s ease-out forwards;
}
.nature span:nth-child(1){
    animation-delay: 1s;
}
.nature span:nth-child(2){
    animation-delay: 1.2s;
}
.nature span:nth-child(3){
    animation-delay: 1.4s;
}
.nature span:nth-child(4){
    animation-delay: 1.6s;
}
.nature span:nth-child(5){
    animation-delay: 1.8s;
}
.nature span:nth-child(6){
    animation-delay: 2s;
}
.forgotten-wrapper{
    position: absolute;
    top:47vh;
    right: 3.5vw;
    overflow:hidden;
    height: 26.6vh;
    width: 53vw;
}
.transcend{
    font-size: 5vh;
    max-width:95%;
    color:white;
    font-family:Poppins;
    letter-spacing: 0px;
    line-height:5vh;
}
.wrapper2{
    position: absolute;
    left:3.5vw;
    top:75vh;
    height: 10vh;
    overflow:hidden;
}
.transcend-1,
.transcend-2{
    display: block;
    font-family: Poppins;
}
.transcend-1{
    transform:translateY(-100%);
    animation: builtTop 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 0.8s;
}
.transcend-2{
    transform:translateY(100%);
    animation: builtBottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 1.2s;
}
.built-for {
    font-size: 5vh;
    color: white;
    font-family: Poppins;
    line-height: 5vh;
    display: flex;
    flex-direction: column;
}
.wrapper1{
    position: absolute;
    top: 28vh;
    right: 3.5vw;
    height: 10vh;
    overflow:hidden;
}
.built-for-1,
.built-for-2 {
    display: block;
    font-family: Poppins;
}
.built-for-1{
    transform: translateY(-100%);
    animation: builtTop 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 0.8s;
}
.built-for-2{
    transform: translateY(100%);
    animation: builtBottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 1.2s;
}
@keyframes builtTop{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes builtBottom{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}
.main-sec-description{
    font-size: 2vh;
    max-width:95%;
    color:white;
    font-family:Poppins;
    letter-spacing: 0px;
}
.wrapper3{
    position: absolute;
    right:6vw;
    top:92vh;
    height:10vh;
    overflow: hidden;
}
.main-sec-description-1,
.main-sec-description-2{
    display: block;
    font-family: poppins;
}
.main-sec-description-1{
    transform: translatex(-100%);
    animation: slideRight 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 1.4s;
}
.main-sec-description-2{
    transform: translatex(-100%);
    animation: slideRight 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 1.4s;
}
@keyframes slideRight{
    from{
        transform: translatex(-100%);
    }
    to{
        transform: translatex(0%);
    }
}
.get-started-text{
    font-size: 2.5vh;
    max-width:95%;
    color:white;
    font-family:Poppins;
    letter-spacing: 0px;
    text-decoration: underline;
}
.wrapper4{
    position: absolute;
    left:3.5vw;
    top:90.5vh;
    height:5vh;
    overflow: hidden;
    display:flex;
    align-items: center;
    gap: 0.3vw;
}
.get-started-text-1{
    text-decoration: underline;
}
.get-started-text-1,
.get-started-text-2{
    display:block;
    font-family: Poppins;
}
.get-logo{
    font-size: 3vh;
}
.get-started-text-1{
    transform: translateY(100%);
    animation: builtBottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 1.2s;
}
.get-started-text-2{
    transform: translateY(100%);
    animation: slowRise 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 1.2s;
}
@keyframes slowRise{
    from{
        transform: translateY(300%);
    }
    to{
        transform: translateY(0%);
    }
}
@media (max-width: 600px) {
    .born{
        font-size: 12vh;
    }
    .nature{
        font-size: 12vh;
        right:24vw;
        top:46vh
    }
    .built-for{
        font-size:4.5vh;
        line-height:4vh;
        top:70vh;
    }
    .transcend{
        font-size:4.5vh;
        line-height: 4vh;
        top:80vh;
    }
    .get-started-text{
        top:95vh;
    }
    .main-sec-description{
    display: none;
    }
}
.revel-sec{
    min-height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    position: relative;
}
.about-sec-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.about-wrapper-1{
    align-items: center;
    position: absolute;
}
.about-sec-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.about-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1;
}
.bottom-center {
    position: absolute;
    left: 0px;
    right: 0px;
    top:108vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1vw;
    z-index: 1;
}
.bottom-left,
.bottom-right{
    display: flex;
    align-items: center;
}
.about-wrapper-1{
    position:absolute;
    top: 16vh;
    left: 50%;
    transform: translateX(-40%);
}
.who{
    font-size: 2vh;
    max-width:95%;
    color:white;
    font-family:Poppins;
    letter-spacing: 0px;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
    z-index: 1;
}
.revel-sec.animate .who{
    animation: Uprising 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes Uprising{
    from{
        transform:translate(0%, 200%);
        opacity: 0;
    }
    to{
        transform: translate(-40%, 0);
        transform:translateY(0);
        opacity: 1;
    }
}
.revel-sec-heading{
    position:absolute;
    top: 23vh;
    overflow: hidden;
    height:26vh;
    left:20vw;
    transform: translateX(-10vw);
}
.revel-sec.animate .revel-sec-heading span{
    display: inline-block;
    color:white;
    font-family:gara;
    font-weight: 100;
    line-height: 6.8vh;
    letter-spacing: 0px;
    font-size: 6vh;
    max-width:95%;
    transform: translateY(400%);
    animation: aboutSlide 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.revel-sec.animate .revel-sec-heading span:nth-child(1){
    animation-delay: 1s;
}
.revel-sec.animate .revel-sec-heading span:nth-child(2){
    animation-delay: 1.2s;
}
.revel-sec.animate .revel-sec-heading span:nth-child(3){
    animation-delay: 1.4s;
}
.revel-sec.animate .revel-sec-heading span:nth-child(4){
    animation-delay: 1.8s;
}
.revel-sec.animate .revel-sec-heading span:nth-child(5){
    animation-delay: 2s;
}
.revel-sec.animate .revel-sec-heading span:nth-child(6){
    animation-delay: 2.2s;
}
.revel-sec.animate .revel-sec-heading span:nth-child(7){
    animation-delay: 2.4s;
}
.revel-sec.animate .revel-sec-heading span:nth-child(8){
    animation-delay: 2.6s;
}
.revel-sec.animate .revel-sec-heading span:nth-child(9){
    animation-delay: 2.8s;
}

.revel-sec.animate .revel-sec-heading span:nth-child(10){
    animation-delay: 3s;
}

.revel-sec.animate .revel-sec-heading span:nth-child(11){
    animation-delay: 3.2s;
}

.revel-sec.animate .revel-sec-heading span:nth-child(12){
    animation-delay: 3.4s;
}

.revel-sec.animate .revel-sec-heading span:nth-child(13){
    animation-delay: 3.6s;
}

.revel-sec.animate .revel-sec-heading span:nth-child(14){
    animation-delay: 3.8s;
}

.revel-sec.animate .revel-sec-heading span:nth-child(15){
    animation-delay: 4s;
}

.revel-sec.animate .revel-sec-heading span:nth-child(16){
    animation-delay: 4.2s;
}
.revel-sec.animate .revel-sec-heading span:nth-child(17){
    animation-delay: 4.4s;
}
@keyframes aboutSlide{
    from{
        transform: translateY(400%);
    }
    to{
        transform: translateY(0%);
    }
}
.revel-sec.animate .revel-sec-description{
    display:block;
    font-size: 2vh;
    max-width:95%;
    color:white;
    font-family:Poppins;
    letter-spacing: 0px;
    transform: translateY(210%);
    animation: revel-sec-Slide 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@keyframes revel-sec-Slide{
    from{
        transform: translateY(210%);
    }
    to{
        transform: translateY(0%);
    }
}
.rev-dis-wrapper{
    position: absolute;
    top: 70vh;
    left:51.2%;
    height: 8.5vh;
    transform: translateX(-50%);
    overflow: hidden;
}

.revel-sec.animate .idk-wrapper-no span{
    display:block;
    color: white;
    font-size: 2.5vh;
    font-weight: 300;
    line-height: 2.8vh;
    transform: translateY(100%);
    animation: bornSlide 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
} 
.revel-sec.animate .idk-wrapper-no span:nth-child(1){
    animation-delay:0.5s;
}
.revel-sec.animate .idk-wrapper-no span:nth-child(2){
    animation-delay:1.5s;
}
.idk-wrapper-no{
    position:absolute;
    top: 113vh;
    left: 15vw;
    height: 5.6vh;
    overflow: hidden;
}
.bottom-center button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.bottom-center .hollow-circle-1, .hollow-circle-2, .hollow-circle-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.5vw;
    height: 5.5vw;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border:1.5px solid white;
}
.revel-sec.animate .hollow-circle-1,
.hollow-circle-2,
.hollow-circle-3{
    transform: translateY(100%);
    animation: bornSlide 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.hollow-circle-1{
    animation-delay:0.5s;
}
.hollow-circle-2{
    animation-delay:0.7s;
}
.hollow-circle-3{
    animation-delay:1s;
}
.bottom-center{
    overflow: hidden;
}
.bottom-center span{
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
    font-size:5.5vh;
}

.bottom-right-wrapper{
    position: absolute;
    left: 0px;
    right: 10vh;
    top:117vh;
    overflow: hidden;
}
.bottom-right{
    justify-content: right;
    font-size: 2vh;
    color: white;
    font-family: Poppins;
    transform: translateY(-90%);
}
.revel-sec.animate .bottom-right{
    animation: bottomRightDescent 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes bottomRightDescent {
    from{
        transform: translateY(-90%);
    }
    to{
        transform: translateY(-25%);
    }
}
.number{
    display: flex;
    align-items: flex-start;
    position:absolute;
    top: 100vh;
    left:3vw;
}
.plus{
    color: white;
    font-size: 16vh;
    font-family: gara;
    font-weight: 100;
}
.seven{
    color: white;
    font-size: 16vh;
    font-family: gara;
    font-weight: 100;
}
.eight{
    position: relative;
    display:flex;
    flex-direction: column;
    top: 7vh;
    height:16vh;
    width: 5vw;
    overflow: hidden;
}
.revel-sec.animate .eight span{
    display: block;
    height: 15.5vh;
    line-height: 16vh;
    transform: translateY(-2vh);
    color:white;
    font-size:16vh;
    font-family: gara;
    font-weight: 100;
    animation: countRoll 3s cubic-bezier(0.175, 0.885, 0.32, 1) forwards;
}
@keyframes countRoll{
    from{
        transform: translateY(-2vh);
    }
    to{
        transform: translateY(-96vh);
    }
}
.case-study-sec{
    visibility: hidden;
    display: none;
    min-height: 12vh;
    width: 100%;
    position:relative;
    overflow: hidden;
    background: black;
    color: white;
    padding: 2w;
}
.case-study-heading{
    width: 95%;
    margin: 8vh auto 0;
    font-size: 16vh;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height:0.9;
    text-align: center;
}
